* {
  box-sizing: border-box;
}

html,
body,
#root {
  margin: 0;
  width: 100%;
  min-height: 100%;
}

body {
  font-family: sans-serif;
  color: #fff;

  background-image: url("/images/background.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: auto 100vh;
  background-color: #111;
}

.app {
  width: 100%;
  min-height: 100vh;
}

.app-main {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}